@media all and (max-width: 670px) { 
  .member{
    margin:0 10% 50px 10%;
    width: 80%;
  }

  .schedule{
    width:100%;
  }

  header {
    height: 40px;
  }

  .header-right a {
    line-height:40px;
    padding: 0 10px;
    font-size:15px;
  }
}