html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

*{
  box-sizing:border-box;
}

a {
  text-decoration: none;
}

a {
  color: #24c1dd;
  transition: all 0.2s;
}

a:hover {
  color: #2683a6;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color:#6a6a6a;
  /*background: repeating-linear-gradient(-14.036deg,#dfdfdf 0, #dfdfdf 2px,#fff 2px,#fff 60px)*/
}

li {
  /*list-style: none;*/
}

header{
  background-color:rgba(255,255,255,0.9);
  height:65px;
  width:100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
	box-shadow: 0 5px 11px 0 rgba(40, 40, 40, 0.07);
  z-index:10;
  margin-bottom:50px;
}

.header-right {
  float: right;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color:#6a6a6a;
  display: inline-block;
  transition: all 0.2s;
  font-weight:bold;
}

.header-right a:hover {
  color:#24c1dd;
}


.top-wrapper{
  text-align: center;
}


.top-wrapper img{
  width:100%;
  object-fit: cover;
  /*padding-bottom:50px;*/
  
}

.btn {
  padding: 8px 24px;
  color: white;
  background-color: #24c1dd;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  margin:0 10px 20px 10px;
}
.btn-wrapper{
  text-align:center;
}


.container{
  max-width: 1000px;
  width: 90%;
  padding: 0 5% 50px 5%;
  margin: 0 auto;
}

/*
.overview .txt{
  text-align: center;
}
*/

.title{
  font-size:32px;
  text-align:left;
  margin-bottom:30px;
}


.title:after {
	content:"";
	height:2px;
	width:100%;
	display: block;
		background:-webkit-gradient(linear, left top, right bottom, from(#151972), to(#7ff8de));
		background:-moz-linear-gradient(left, #151972, #7ff8de);
		background:linear-gradient(left, #151972, #7ff8de);
}

.schedule{
  width:50%;
  float:left;
  padding-bottom: 50px;
  text-align:center;
}

.schedule h3{
  font-weight: normal;
}

.rule-content img{
  vertical-align: middle;
  width: 50px;
  padding-right:10px;
}
.rule-content{
  padding-bottom:30px;
}

.ok{
  font-weight: bold;
  color:#3169ff;
}
.ng{
  font-weight: bold;
  color:#ff3131;
}

ul{
  padding: 0 30px 0 30px;
}


.member {
  float:left;
  width:40%;
  padding-bottom:10px;
  margin: 0 5% 50px 5%;
  border-bottom:2px solid #d8d8d8;
}

.clear{
  clear:left;
}

/*
footer{
  width:100%;
  height:100px;
  background-color:#fff;
}
*/